.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-page__main-header {
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}

.main-header__title {
  margin: 0;
  color: var(--color-secondary);
  font: var(--main-font-light);
}

.main-title {
  font-size: 3.75rem;
  line-height: 1.2;
}

.main-header__main-subtitle {
  margin: 0;
  color: var(--color-secondary);
  font: var(--main-font-light);
}

.main-subtitle {
  font-size: 1.56rem;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2rem;
  color: var(--color-secondary);
  font: var(--main-font-light);
  font-size: 1.5rem;
}

.home-page__content-description-start,
.home-page__content-description-end {
  width: 50%;
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .main-title {
    font-size: 3rem;
  }

  .main-subtitle {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main-header {
    width: 22rem;
  }

  .main-title {
    font-size: 1.8rem;
  }

  .main-subtitle {
    font-size: .8rem;
  }
}



@media (min-width: 320px) and (max-width: 767px) {
  .home-page {
    height: auto;
  }

  .home-page__main-header {
    padding: 0 1rem;
  }

  .main-header {
    box-sizing: border-box;
    width: 100%;
  }

  .main-title {
    font-size: 1.75rem;
  }

  .main-header__main-subtitle {
    margin: auto;
  }

  .main-subtitle {
    font-size: .9rem;
    width: 100%;
    display: contents;
    box-sizing: border-box;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .main-title {
    font-size: 1.4rem;
  }

  .main-subtitle {
    font-size: .7rem;
  }
}
