@font-face {
  font-family: gilroy;
  src:
    url('../fonts/Gilroy-Light.woff2') format('woff2'),
    url('../fonts/Gilroy-Light.woff') format('woff');
  /* url('../fonts/Gilroy-Light.ttf') format('truetype'); */
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: gilroy;
  src:
    url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  /* url('../fonts/Gilroy-Medium.ttf') format('truetype'); */
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: gilroy;
  src:
    url('../fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../fonts/Gilroy-Bold.woff') format('woff');
  /* url('./Gilroy-Bold.ttf') format('truetype'); */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: franklin;
  src:
    url('../fonts/Franklin-Gothic-Demi-Cond.woff2') format('woff2'),
    url('../fonts/Franklin-Gothic-Demi-Cond.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
