<section class="about-us">
  <div class="content-wrapper">
    <h2 class="title-main about-us__title">
      Команда — наш ключевой актив.
    </h2>

    <p class="text-main about-us__description">
      Стратегию и тактику ИнвесТо определяют визионеры с инновационным мышлением и
      страстью к совершенству.
    </p>
  </div>

  <img class="about-us__photo" src="img/about-us/photo.jpg" alt="">

  <div class="content-wrapper">
    <h3 class="about-us__sub-title">Лучшие эксперты и профессионалы рынка девелопмента</h3>
    <p class="about-us__text">
      В штате группы компаний: архитекторы, визуализаторы, BIM-программисты, конструкторы,
      инженеры-проектировщики, руководители проектов, полный состав инженерно-технических работников с опытом
      строительства объектов различного назначения и категорий сложности, закупщики материалов и оборудования, в том
      числе высокотехнологичного, квалифицированные рабочие (штатные и привлекаемые по договорам гражданско- правового
      характера) и управленцы с более чем 20-летним опытом работы в сфере строительства.
    </p>

    <img class="about-us__map" src="img/about-us/map.jpg" alt="">
  </div>

  @@include('footer.html')


</section>
