<section class="about-us">
  <div class="content-wrapper">
    <h2 class="title-main about-us__title page-title">
      Команда — наш ключевой актив.
      <br />
      <span class="page-title_light">Стратегию и тактику ИнвесТо <br /> определяют визионеры с <br /> инновационным
        мышлением и <br />
        приверженностью к <br /> совершенству.</span>
    </h2>

  </div>

  <img class="about-us__photo" src="img/about-us/photo.jpg" alt="">

  <div class="content-wrapper">
    <h3 class="about-us__sub-title page-title">Лучшие эксперты и <br /> профессионалы рынка <br /> девелопмента</h3>
    <p class="about-us__text">
      В штате группы компаний: архитекторы, визуализаторы, BIM-программисты, конструкторы,
      инженеры-проектировщики, руководители проектов, полный состав инженерно-технических работников с опытом
      строительства объектов различного назначения и категорий сложности, закупщики материалов и оборудования, в том
      числе высокотехнологичного, квалифицированные рабочие (штатные и привлекаемые по договорам гражданско- правового
      характера) и управленцы с более чем 20-летним опытом работы в сфере строительства.
    </p>

    <img class="about-us__map" src="img/about-us/map.jpg" alt="">
  </div>

  @@include('../template/run-string-investo.html')


  @@include('footer.html')


</section>
