<section class="about-us">
  <h2 class="title-primary about-us__title">
    Структура организации
  </h2>

  <div class="about-us__wrapper">
    <div class="about-us__director-info-wrapper">
      <div class="about-us__director-info">
        Командой специалистов управляет Третьякова Светлана Тимофеевна, опыт работы в сфере строительства с 1998 года, опыт управления коммерческими структурами и компаниями с государственным участием.
        <br>
        <br>
        Имеет Благодарность Мэра Москвы за вклад в реализацию строительных программ города Москвы, Благодарность заместителя Мэра Москвы за строительство Центра Самбо и Бокса в Лужниках, Благодарственное письмо Управления ФСБ по Москве и Московской области за личный вклад  в реализацию программы «Безопасный Город», награждена медалью Федеральной Таможенной службы за строительство госпиталя ФТС.
      </div>
    </div>

    <div class="divider about-us__divider"></div>


    <div class="about-us__organizations-wrapper">
      <div class="about-us__organization">
        <h3 class="title-secondary about-us__organization-title">
          ООО «Оргстройпроект»
        </h3>
        Создано в 1993 году (правопредшественник ЗАО «КРОН-Инвест»). Оказывает услуги технического заказчика. Указом Мэра Москвы присвоено звание Поставщика работ, услуг для города Москвы на 2011-2012 годы.
      </div>

      <div class="about-us__organization">
        <h3 class="title-secondary about-us__organization-title">
          ООО «Градокомплекс»
        </h3>
        Создано в 2001 году. Оказывает услуги генерального подрядчика, включая комплектацию строительного объекта «под ключ».
      </div>

      <div class="about-us__organization">
        <h3 class="title-secondary about-us__organization-title">
          ООО «MAXX»
        </h3>
        Создано в 2014 году. Оказывает услуги по разработке проектно-сметной документации.
      </div>
    </div>

  </div>

  </section>
