<section class="business-directions">
  <h2 class="title-primary business-directions__title">
    Основные направления деятельности
  </h2>

  <div class="business-directions__wrapper">
    <ul class="business-directions__list">
      <li>
        Технический заказчик
      </li>
      <li>
        Проектирование
      </li>
      <li>
        Строительство
      </li>
      <li>
        Fee-девелопмент
      </li>
      <li>
        Комплектация строительных объектов
      </li>
    </ul>


    <div class="business-directions__photos-wrapper">
      <img class="business-directions__photo business-directions__photo_4 business-directions__photo_animated" src="./img/business-directions/4.png" alt="" />
      <img class="business-directions__photo business-directions__photo_3 business-directions__photo_animated" src="./img/business-directions/3.png" alt="" />
      <img class="business-directions__photo business-directions__photo_2 business-directions__photo_animated" src="./img/business-directions/2.png" alt="" />
      <img class="business-directions__photo business-directions__photo_1" src="./img/business-directions/1.png" alt="" />
    </div>
  </div>

</section>
