<section class="command">
  <div class="content-wrapper">
    <h2 class="title-secondary">
      Команда
    </h2>

    <img class="command__photo" src="img/command/command.jpg" alt="Команда проекта">

    <h3 class="command__sub-title">
      Лучшие эксперты и профессионалы рынка девелопмента
    </h3>

    <p class="command__description">
      Команда Юрманское состоит из профессионалов, вдохновленных своим делом, обладающих экспертизой высочайшего уровня
      в девелопменте, архитектуре, строительстве, проектировании, финансах, маркетинге и продажах, что позволяет
      получать максимальный возврат на инвестиции для инвесторов.
    </p>
  </div>
</section>
