<section class="command">
  <div class="content-wrapper">
    <h2 class="page-title command__title">
      <span class="page-title_light-alt">Команда АО "ИнвесТо" состоит из <br />
        профессионалов, вдохновленных <br />
        своим делом,</span> обладающих <br />
      экспертизой высочайшего уровня <span class="page-title_light-alt">в <br />
        девелопменте, архитектуре, <br />
        строительстве, проектировании, <br />
        финансах, маркетинге и продажах.</span>
    </h2>

    <img class="command__photo" src="img/command/command.jpg"
      srcset="img/command/command.jpg 1440w, img/command/command-430.jpg 430w" alt="Команда проекта">
  </div>
</section>
