<section class="contacts">

  <h2 class="title-primary contacts__title">
    Контакты
  </h2>

  <div class="contacts__content-wrapper">
    <a href="tel:+74993900480" class="contacts__phone">
      +7 (499) 390-04-80
    </a>

    <div class="contacts__address">
      Москва, Ленинградский проспект, дом 44А, с3
    </div>

    <a href="mailto:info@investo-rf.ru" class="contacts__mail" type="email">
      e-mail: info@investo-rf.ru
    </a>
  </div>

  <div class="contacts__company-data">
    <span>АО "Инвесто"</span>
    <span>КПП: 771401001</span>
    <span>ИНН: 9714076587</span>
    <span>ОГРН: 1257700256835</span>
  </div>

</section>
