<section class="contacts-screen">

  <div class="content-wrapper">
    <h2 class="title-main contacts-screen__title">
      Вы можете связаться с нами любым удобным для вас способом.
    </h2>

    <p class="text-main contacts-screen__description">
      Сотрудниĸи нашей ĸомпании ответят на все ваши вопросы.
    </p>

    <div class="contacts-screen__contacts-wrapper">
      @@include('contacts.html')
    </div>


    <div id="map"></div>

    <div class="contacts-screen__logo-wrapper">
      <img class="contacts-screen__logo" src="img/logo.svg" alt="">
    </div>
  </div>

</section>
