<section class="contacts-screen">

  <div class="content-wrapper">
    <h2 class="title-main contacts-screen__title page-title">
      Вы можете связаться с нами <br /> любым удобным для вас <br /> способом.
      <br />
      <span class="page-title_light">Сотрудниĸи нашей ĸомпании <br /> ответят на все ваши вопросы.</span>
    </h2>




    <div class="contacts-screen__contacts-wrapper">
      @@include('contacts.html')
    </div>


    <div id="map"></div>

    <div class="contacts-screen__logo-wrapper">
      <img class="contacts-screen__logo" src="img/logo.svg" alt="">
    </div>
  </div>

</section>
