<div class="counts-wrapper">
  <div class="counts-card counts-card__left to-up-animation-wrapper">
    <h3 class="counts-card__title">
      30 <br /> лет
    </h3>

    <p class="counts-card__sub-title">
      на рынке <br /> строительства и недвижимости
    </p>
  </div>

  <div class="counts-card counts-card__center to-up-animation-wrapper">
    <h3 class="counts-card__title">
      300+ <br /><br />
    </h3>

    <p class="counts-card__sub-title">
      реализованных проектов
    </p>
  </div>

  <div class="counts-card to-up-animation-wrapper">
    <h3 class="counts-card__title">
      3+ <br /> млн м²
    </h3>

    <p class="counts-card__sub-title">
      объектов различного <br /> назначения
    </p>
  </div>
</div>
