<div class="counts-wrapper">
  <div class="counts-card counts-card__left">
    <h3 class="counts-card__title">
      30+ <br /> лет
    </h3>

    <p class="counts-card__sub-title">
      на рынке <br /> недвижимости
    </p>
  </div>

  <div class="counts-card counts-card__center">
    <h3 class="counts-card__title">
      30+ <br /> проектов
    </h3>

    <p class="counts-card__sub-title">
      в портфеле команды <br /> компании
    </p>
  </div>

  <div class="counts-card">
    <h3 class="counts-card__title">
      1+ <br /> млн м²
    </h3>

    <p class="counts-card__sub-title">
      объектов различного <br /> назначения
    </p>
  </div>
</div>
