<header class="header">
  <div class="header__header-inner header-inner">
    <nav class="header__menu menu">
      <a class="menu__link" href="about-us.html">О компании</a>
      <a class="menu__link" href="projects.html">Реализованные проекты</a>
      <a class="menu__link" href="contacts.html">Контакты</a>
    </nav>

    <a href="index.html">
      <div class="header__logo logo"></div>
    </a>

    <!-- <div class="header__burger-menu burger-menu">
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
      <span class="burger-menu__line"></span>
    </div> -->

    @@include('burger-menu.html')

    </div>
  </div>
</header>
