<section class="home-page">
  <div class="content-wrapper">
    <header class="home-page__header">
      <h1 class="title-main home-page__title">Девелоперская компания полного цикла</h1>
      <p class="text-main home-page__description">Командой специалистов с опытом работы в строительной отрасли от 20 лет
        реализованы проекты различного назначения площадью более <span class="home-page__description-accented">1
          миллиона квадратных метров.</span></p>

      @@include('structure.html')


      <div class="home-page__button-wrapper">
        @@include('detail-button.html')
      </div>
    </header>
  </div>


  <img class="home-page__image" src="img/home-screen/home-screen-image.jpg" alt="">



</section>
