<section class="home-page">
  <div class="content-wrapper">
    <header class="home-page__header">
      <h1 class="title-main home-page__title page-title"><span class="page-title_light-alt">Девелоперская компания,
          <br /> занимающаяся</span> с 1993 года <br /> созданием и реализацией <br /> концептуальных проектов<span
          class="page-title_light-alt">, <br /> которые становятся одними из <br /> лучших</span></h1>
    </header>
  </div>


  @@include('counts.html')


  <div class="home-page__parallax-block"></div>
</section>
