<section class="projects">
  <h2 class="title-primary projects-title">
    Команда специалистов принимала участие в проектировании и строительстве следующих объектов:
  </h2>

  <div class="projects__projects-wrapper">
    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Научно-образовательный центр инновационных биомедицинских технологий ФГАОУВО РУДН (НОЦИБД РУДН). Реконструкция
          </div>

          <div class="projects__project-description-address">
            г. Москва, ул. Миклухо-Маклая, д. 8, корп. 1
          </div>
        </div>
      </div>
      <img src="img/projects/1.png" alt="Научно-образовательный центр инновационных биомедицинских технологий ФГАОУВО РУДН (НОЦИБД РУДН). Реконструкция">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Флагманский автоцентр Мерседес-Бенц
          </div>

          <div class="projects__project-description-address">
            г. Москва, 1-й Магистральный проезд, вл. 9
          </div>
        </div>
      </div>
      <img src="img/projects/2.png" alt="Флагманский автоцентр Мерседес-Бенц">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Инфекционная клиническая больница №1
          </div>

          <div class="projects__project-description-address">
            г. Москва, Волоколамское ш., д. 63
          </div>
        </div>
      </div>
      <img src="img/projects/3.png" alt="Инфекционная клиническая больница №1">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Автоцентр ПОРШЕ
          </div>

          <div class="projects__project-description-address">
            г. Москва
          </div>
        </div>
      </div>
      <img src="img/projects/4.png" alt="Автоцентр ПОРШЕ">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Административное здание УВД
          </div>

          <div class="projects__project-description-address">
            г. Москва, ул. 2-я Машиностроения, д. 3, р-н Южнопортовый
          </div>
        </div>
      </div>
      <img src="img/projects/5.png" alt="Административное здание УВД">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Флагманский центр экстренной медицинской помощи
          </div>

          <div class="projects__project-description-address">
            г. Москва, Вешняковская ул., д. 23
          </div>
        </div>
      </div>
      <img src="img/projects/7.png" alt="Флагманский центр экстренной медицинской помощи">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Офисное здание
          </div>

          <div class="projects__project-description-address">
            г. Москва, Лефортовский вал, вл. 15/3, стр. 1
          </div>
        </div>
      </div>
      <img src="img/projects/8.png" alt="Офисное здание">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Жилой дом
          </div>

          <div class="projects__project-description-address">
            г. Москва, Одесская ул., дом 12
          </div>
        </div>
      </div>
      <img src="img/projects/9.png" alt="Жилой дом">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Научно-технический кластер Ломоносов
          </div>

          <div class="projects__project-description-address">
            г. Москва, Ленинские горы, 1Н
          </div>
        </div>
      </div>
      <img src="img/projects/10.png" alt="Научно-технический кластер Ломоносов">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Жилой дом
          </div>

          <div class="projects__project-description-address">
            г. Москва, Каширское ш., д. 11, к. 3
          </div>
        </div>
      </div>
      <img src="img/projects/11.png" alt="Жилой дом">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Центр Самбо и Бокса
          </div>

          <div class="projects__project-description-address">
            г. Москва, Лужники, стр. 13
          </div>
        </div>
      </div>
      <img src="img/projects/12.png" alt="Центр Самбо и Бокса">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Учебный корпус на 300 мест с дошкольным отделением на 125 мест
          </div>

          <div class="projects__project-description-address">
            г. Москва, проспект Вернадского, вл. 12Б
          </div>
        </div>
      </div>
      <img src="img/projects/13.png" alt="Учебный корпус на 300 мест с дошкольным отделением на 125 мест">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Гостиница
          </div>

          <div class="projects__project-description-address">
            г. Туркменабад
          </div>
        </div>
      </div>
      <img src="img/projects/14.png" alt="Гостиница">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Взрослая поликлиника
          </div>

          <div class="projects__project-description-address">
            г. Москва, Измайловский пр-т, д. 63
          </div>
        </div>
      </div>
      <img src="img/projects/15.png" alt="Взрослая поликлиника">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Физкультурно-оздоровительный комплекс с бассейном
          </div>

          <div class="projects__project-description-address">
            г. Москва, р-н Выхино-Жулебино, мкр. 128 б
          </div>
        </div>
      </div>
      <img src="img/projects/16.png" alt="Физкультурно-оздоровительный комплекс с бассейном">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Гостинично-развлекательный комплекс
          </div>

          <div class="projects__project-description-address">
            г. Ярославль, пересеч. проспекта Фрунзе и Суздальского шоссе
          </div>
        </div>
      </div>
      <img src="img/projects/17.png" alt="Гостинично-развлекательный комплекс">
    </div>


    <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Национальный космический центр на территории завода Хруничева в Филях
          </div>

          <div class="projects__project-description-address">
            г. Москва, р-н Фили-Давыдково, ул. Мясищева
          </div>
        </div>
      </div>
      <img src="img/projects/18.png" alt="Национальный космический центр на территории завода Хруничева в Филях">
    </div>


     <div class="projects__project">
      <div class="projects__project-description-layer">
        <div class="projects__project-description-wrapper">
          <div class="projects__project-description-name">
            Жилая застройка с инженерными коммуникациями и благоустройством
          </div>

          <div class="projects__project-description-address">
            г. Москва, проспект Вернадского, вл. 12Б
          </div>
        </div>
      </div>
      <img src="img/projects/19.png" alt="Жилая застройка с инженерными коммуникациями и благоустройством">
    </div>

  </div>
</section>
