<div class="slider__wrapper">
  <div class="slider__lent">
    <div class="slider__card">
      <img src="img/business-directions/1.jpg" class="slider__image" alt="">
      <p class="slider__label">Технический заказчик</p>
    </div>


    <div class="slider__card">
      <img src="img/business-directions/2.jpg" class="slider__image" alt="">
      <p class="slider__label">Проектирование</p>
    </div>


    <div class="slider__card">
      <img src="img/business-directions/3.jpg" class="slider__image" alt="">
      <p class="slider__label">Строительство</p>
    </div>


    <div class="slider__card">
      <img src="img/business-directions/4.jpg" class="slider__image" alt="">
      <p class="slider__label">Комплектация строительных объектов</p>
    </div>


    <div class="slider__card">
      <img src="img/business-directions/5.jpg" class="slider__image" alt="">
      <p class="slider__label">Fee-девелопмент</p>
    </div>
  </div>
</div>
