<section class="structure">
  <div class="content-wrapper">
    <h2 class="title-secondary structure__title">Структура</h2>

    <div class="structure__card-wrapper">
      <div class="structure__card">
        <h3 class="structure__card-title">
          ООО «Оргстройпроект»
        </h3>
        <p class="structure__card-body">
          Создано в 1993 году (правопредшественник ЗАО «КРОН-Инвест»). Оказывает услуги технического заказчика. Указом
          Мэра Москвы присвоено звание Поставщика работ, услуг для города Москвы на 2011-2012 годы.
        </p>
      </div>


      <div class="structure__card">
        <h3 class="structure__card-title">
          ООО «Градокомплекс»
        </h3>
        <p class="structure__card-body">
          Создано в 1993 году (правопредшественник ЗАО «КРОН-Инвест»). Оказывает услуги технического заказчика. Указом
          Мэра Москвы присвоено звание Поставщика работ, услуг для города Москвы на 2011-2012 годы.
        </p>
      </div>


      <div class="structure__card">
        <h3 class="structure__card-title">
          ООО «MAXX»
        </h3>
        <p class="structure__card-body">
          Создано в 1993 году (правопредшественник ЗАО «КРОН-Инвест»). Оказывает услуги технического заказчика. Указом
          Мэра Москвы присвоено звание Поставщика работ, услуг для города Москвы на 2011-2012 годы.
        </p>
      </div>
    </div>
  </div>
</section>
