:root {
  --color-primary: #002760;
  --color-secondary: rgb(19, 50, 62);
  --color-contrast: rgba(175, 150, 135, 1);

  --color-brown: #cb9e88;
  --color-dark: #1b1919;
  --color-light: #fff2e9;
  --color-salmon: #e9856f;
  --color-cornflowerblue: #6f85e9;

  --bg-color-primary: rgba(240, 240, 240, 0.3);
  --bg-color-secondary: #fff2e9;

  --main-font-bold: normal normal 700 1rem "gilroy", sans-serif;
  --main-font-regular: normal normal 400 1rem "gilroy", sans-serif;
  --main-font-light: normal normal 300 1rem "gilroy", sans-serif;
  --secondary-font-bold: normal normal 700 1rem "franklin", sans-serif;


  --main-bg-gradient: linear-gradient(90deg, rgba(135, 150, 175, 1) 0%, rgba(255, 255, 255, 0) 100%);

  --header-height: 4rem;

  --text-shadow-primary: 1px 1px 2px rgba(0, 0, 0, 0.5)
}
