html,
body {
  box-sizing: border-box;
  margin: 0;
  font: var(--main-font-regular);
  /* background: var(--main-bg-gradient) no-repeat; */
  height: 100%;
  color: var(--color-primary);
  background-color: #FFFFFF;
}


.title-main {
  color: var(--color-title);
  font: var(--main-font-bold);
  font-size: 4rem;
  letter-spacing: -1.2px;
  margin: 0;


  @media (max-width: 430px) {
    font-size: 2.8rem;
  }
}


.title-secondary {
  color: var(--color-title);
  font: var(--main-font-semi-bold);
  font-size: 3rem;
  letter-spacing: -1.2px;
  margin: 0 0 2.5rem;
}


.page-title {
  text-align: center;
  font: var(--secondary-font-bold);
  font-size: 4rem;
  line-height: 1;
  letter-spacing: .2rem;
  color: #2a4074;

  &_light {
    color: #436490;
  }

  &_light-alt {
    color: #7e8aa4;
  }
}

.text-main {
  color: var(--color-text);
  font: var(--main-font-regular);
  font-size: 1.5rem;
  margin: 0;
}


.divider {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
