.title-primary {
  line-height: 1.2;
  margin: 0;
  color: var(--color-secondary);
  font: var(--main-font-light);
  font-size: 3.75rem;
}


.title-secondary {
  line-height: 1.2;
  margin: 0;
  color: var(--color-contrast);
  font: var(--main-font-bold);
  font-size: 1rem;
}
