.business-directions {
  padding: 2rem 2rem 4rem;
  box-sizing: border-box;
  background: var(--main-bg-gradient);
}


.business-directions__title {
  position: relative;
  z-index: 1;
}

.business-directions__list {
  list-style: '-';
  font: var(--main-font-light);
  color: var(--color-secondary);
  font-size: 2rem;
}

.business-directions__list li {
  padding-left: 1rem;
  line-height: 1.5;
}


.business-directions__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.business-directions__photos-wrapper {
  position: relative;
  width: 50rem;
  height: 25rem;
}

.business-directions__photo {
  height: 20rem;
  width: 20rem;
  position: absolute;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
  transform: skew(0deg, 10deg);
  border-radius: .2rem;
  background-size: cover;
}

.business-directions__photo:hover {
  z-index: 1;
}

.business-directions__photo_1 {
  bottom: 0;
  left: 0;
}

.business-directions__photo_2 {
  bottom: 2rem;
  left: 5rem;
}

.business-directions__photo_3 {
  bottom: 4rem;
  left: 10rem;
}

.business-directions__photo_4 {
  bottom: 6rem;
  left: 15rem;
}


@media (min-width: 1024px) and (max-width: 1439px) {
  .business-directions__list {
    font-size: 1.8rem;
  }

  .business-directions__photo {
    height: 15rem;
    width: 15rem;
  }
}


@media (max-width: 1023px) {
  .business-directions__title {
    font-size: 5vw;
  }

  .business-directions__list {
    font-size: 3vw;
  }

  .business-directions__photo {
    height: 27vw;
    width: 27vw;
  }
}


@media (max-width: 790px) {
  .business-directions__title {
    font-size: 4vw;
  }

  .business-directions__list {
    padding-left: 2vw;
    font-size: 2.5vw;
    width: 50%;
  }

  .business-directions__photos-wrapper {
    width: 50%;
    height: 30vw;
  }

  .business-directions__photo {
    height: 20vw;
    width: 20vw;
  }

  .business-directions__photo_2 {
    bottom: 2vw;
    left: 5vw;
  }

  .business-directions__photo_3 {
    bottom: 4vw;
    left: 10vw;
  }

  .business-directions__photo_4 {
    bottom: 6vw;
    left: 15vw;
  }
}

@media (max-width: 414px) {
  .business-directions__title {
    font-size: 6vw;
  }

  .business-directions__list {
    font-size: 4vw;
    width: 70%;
  }
}
