.about-us {
  &__title {
    margin: 10rem 0;

    @media (max-width: 430px) {
      margin: 5rem 0;
    }
  }


  &__description {
    margin-bottom: 2.5rem;
  }



  &__photos-wrapper {
    position: relative;
  }

  &__photo {
    width: 100%;
    margin-bottom: 3rem;

    &-up {
      position: absolute;
      top: 0;
      left: 0;
    }
  }


  &__sub-title {
    margin: 10rem 0;

    @media (max-width: 430px) {
      margin: 5rem 0;
    }
  }


  &__text {
    color: var(--color-text);
    font: var(--main-font-regular);
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
  }


  &__map {
    margin-bottom: 5rem;
    width: 100%;
  }
}
