.projects {
  &__main-title {
    margin-bottom: 4rem;


    @media (max-width: 430px) {
      font-size: 2rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    gap: 2.5rem 1rem;
    margin-bottom: 5rem;

    @media (max-width: 430px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    &-alternative {
      grid-template-columns: 40% 60%;

      @media (max-width: 430px) {
        grid-template-columns: 1fr;
      }
    }

    &-correct {
      grid-template-rows: 50% 40%;

      @media (max-width: 430px) {
        grid-template-rows: 1fr;
      }
    }

    &-half-to-half {
      grid-template-columns: 50% 50%;

      @media (max-width: 430px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
      }
    }
  }

  &__photo {
    border-radius: 0.5rem;

    @media (max-width: 430px) {
      width: 100%;
    }
  }

  &__title {
    font: var(--main-font-medium);
    font-size: 1.5rem;
    color: var(--color-title);
    margin-bottom: .25rem;
  }

  &__address {
    color: var(--color-text);
    font: var(--main-font-regular);
    font-size: 1.25rem;
  }

  &__about {
    color: var(--color-text);
    font: var(--main-font-regular);
    font-size: 1.25rem;
    margin: 0 0 1rem;
    text-align: justify;
    font-size: 1.1rem;

    &-ul {
      list-style-type: none;
      padding-left: 1rem;

      & li {
        margin-bottom: 1rem;
        text-align: left;
      }
    }
  }

  &__project {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;


    &-correct-order {
      @media (max-width: 430px) {
        order: -1;
        gap: 0;
      }
    }
  }

  &__project-first {
    grid-row-start: 1;
    grid-row-end: 3;

    @media (max-width: 430px) {
      grid-row-start: unset;
      grid-row-end: unset;
    }
  }

  &__project-second {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    @media (max-width: 430px) {
      grid-row-start: unset;
      grid-row-end: unset;
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }

  &__project-third {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    @media (max-width: 430px) {
      grid-row-start: unset;
      grid-row-end: unset;
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }
}
