.investo-block-run {
  height: 10rem;
  background-image: url(../img/run-strings/investo.png);
  background-repeat: repeat-x;
  background-position-y: center;
  background-position-x: 1000vw;

  animation: 240s run-string-investo forwards infinite linear;
}

@keyframes run-string-investo {
  to {
    background-position-x: -1000vw;
  }
}
