.investo-block-run {
  height: 10rem;
  background-image: url(../img/run-strings/investo.png);
  background-repeat: repeat-x;
  background-position-y: center;
  background-position-x: 1000vw;

  animation: 240s run-string-investo forwards infinite linear;

  margin: 8rem 0 10rem;

  @media (max-width: 430px) {
    margin: 4rem 0 5rem;
  }
}

@keyframes run-string-investo {
  to {
    background-position-x: -1000vw;
  }
}
