.structure {
  &__title {
    margin-bottom: 3rem;
  }


  &__card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10rem;
  }


  &__card-title {
    color: var(--color-title);
    font: var(--main-font-medium);
    font-size: 1.5rem;
    margin: 0 0 1.875rem;
  }


  &__card-body {
    color: var(--color-text);
    font: var(--main-font-medium);
    font-size: 1.5rem;
    line-height: 1.5;
  }
}
