.counts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid #dcdcdc;
}

.counts-card {
  padding: 2rem;
  font: var(--ternary-font-medium);


  &__title {
    font-family: inherit;
    line-height: 1;
    margin: 0 0 5rem;
    color: #585d5d;
    font-weight: 500;
    font-size: 3rem;
  }


  &__sub-title {
    font-family: inherit;
    color: #9c9c9c;
    font-weight: 500;
    font-size: 1.5rem;
  }


  &__left {
    padding-left: 25%;
  }

  &__center {
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
  }
}
